#centre{
	text-align:center;
	}
header {
	text-align:center;
	
	text-shadow: 1px 1px 1px white;
	text-decoration:underline;
}
nav>ul>li{
	display:inline;
}
nav {
	display: block;
	padding: 100;
	width: 900px;
	height: 130px;
	text-align: center;
	margin: 0 auto;
}
h3{
	text-align:center;
}
h4{
	text-align:center;
}
main {
	padding : 40px;
	margin: auto;
	top:20%;
	width:40%;
}
footer {
	position:fixed;
	bottom:0;
}

